@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

section {
    -webkit-scroll-margin-top: 100px;
    scroll-margin-top: 100px;
}

body {
    background-color: #ffffff;
}

::selection {
    background-color: #2B2B2B;
    color: #ffffff;
}

.drop-shadow-md {
    filter: drop-shadow(8px 4px 6px rgba(0, 0, 0, 0.6));
  }